{% extends 'app_entrega1/bd.html' %}

{% load static %}
{% block titulo %}
  
  <h1>Actualizar proveedores </h1>
{% endblock %}
{% block formulario_agregar %}

<form action="{% url 'actualizar_proveedor' proveedor.proveedor_id %}" method="POST">{% csrf_token %}
     
  <table>
    {{ miformulario.as_table }}
  </table>
  <input type="submit" value="guardar">
</form>
{% endblock %}


{% block columnas %}
<tr>
  <th><h2>proveedor_id</h2></th>
  <th><h2>nombre_proveedor</h2></th>
  <th><h2>direccion_proveedor</h2></th>
  <th><h2>cuit</h2></th>
  
</tr>
{% endblock %}

{% block tabla %}
{% for proveedor in all_proveedores %}
<tr>
   <td> {{ proveedor.proveedor_id }} </td>
   <td> {{ proveedor.nombre_proveedor }} </td>
   <td> {{ proveedor.direccion_proveedor }} </td>
   <td> {{ proveedor.cuit }} </td>

</tr>
{% endfor %}
{% endblock %}