{% extends 'app_entrega1/bd.html' %}

{% load static %}
{% block titulo %}
  
  <h1>Actualizar producto </h1>
{% endblock %}
{% block formulario_agregar %}

<form action="{% url 'actualizar_producto' producto.producto_id %}" method="POST">{% csrf_token %}
     
  <table>
    {{ miformulario.as_table }}
  </table>
  <input type="submit" value="guardar">
</form>
{% endblock %}


{% block columnas %}
<tr>
  <th><h2>Producto_id</h2></th>
  <th><h2>Nombre Producto</h2></th>
  <th><h2>Empresa</h2></th>
  <th><h2>Tipo</h2></th>
  <th><h2>Precio</h2></th>
  
</tr>
{% endblock %}

{% block tabla %}
{% for producto in all_productos %}
<tr>
  <td> {{ producto.producto_id }} </td>
  <td> {{ producto.nombre_producto }} </td>
  <td> {{ producto.empresa }} </td>
  <td> {{ producto.tipo_producto }} </td>
  <td> {{ producto.precio }} </td>

</tr>
{% endfor %}
{% endblock %}